  
  /* Task 1 */
  .color{
    background: #2E4760;
  }
    
  .colgren{
      background-color: #4EC4A2;
  }

  .colwhit{
    background-color: #FFFFFF;
  }

  .colgray{
      background-color: lightgray;
  }

  
  .cr{
    font-size: small;
    text-align: center;
    background: #2E4760;
  }

  .cb{
      margin:auto;
      width:50%;
      padding:10px;
  }


  /* ------------------------------------------------------Task 2-------------------------------------------------------- */

  .colred{
      color: red;
  }